[Desktop Entry]
Version=1.1
Type=Application
Name=NotTheNet
GenericName=Fake Internet Simulator
Comment=Simulate the internet for malware analysis in an isolated environment
Exec=NOTTHENET_EXEC_PLACEHOLDER
Icon=notthenet
Terminal=false
Categories=Security;Network;System;Forensics;ReverseEngineering;Monitor;
Keywords=malware;analysis;sandbox;fake;internet;dns;http;https;smtp;ftp;pop3;imap;honeypot;capture;network;simulator;forensics;reverse;engineering;isolation;lab;traffic;intercept;sniffer;kali;
StartupNotify=true
StartupWMClass=notthenet
X-GNOME-FullName=NotTheNet Fake Internet Simulator
